header,
footer {
  background-color: #FFF0D1;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .5em;
}

body {
  background-image: url("../images/BG.jpg");
  background-size: cover;
}

main {
  height: auto;
}

.parent {
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
  column-gap: 10px;
}



.side-bar {
  /* background-color: aqua; */
  position: relative;
  padding: 10px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1em;
}

.main-view {
  /* background-color: slategray; */
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1em;
}

.image-container {
  height: calc(90% - 20px);
  width: auto;

  margin: 10px auto;
  position: relative;
}

.image-container>img {
  position: absolute;

  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.no-content-image {
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorite-section {
  background-color: #FFF0D1;
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 322px;
  border-radius: .5em;
}

.favorite-section>ul>li {
  cursor: pointer;

  margin: 5px;
}

.favorite-section>ul>li.selected::after {
  content: "👈";
}

.favorite-section>ul>li.selected {
  color: red;
}

.favorite-section>h3 {
  text-align: center;
}

.breed-info-list {
  overflow-y: scroll;
  height: calc(100% - 20px);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-number {
  text-align: center;
  /* background-color: lightgray; */
}

/* ---------- Button ---------- */

.side-bar>button {
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 24px;

  border-radius: 5px;
  border: none;
  background-color: inherit;
  color: black;
  position: relative;
}

.side-bar>button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: inherit;
  opacity: 0;
}

.side-bar>button:hover::before {
  animation-name: fly-out;
  animation-duration: 0.2s;
}

@keyframes fly-out {
  0% {
    opacity: 255;
    width: 100%;
    height: 100%;
  }

  100% {
    opacity: 0;
    width: 110%;
    height: 110%;
  }
}

.side-bar>button:hover {
  background-color: grey;

  animation: show-button 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes show-button {
  0% {
    background-color: inherit;
    color: black;
  }

  100% {
    background-color: grey;
    color: aliceblue;
  }
}

.button-container {
  height: 10%;
  /* background-color: cadetblue; */

  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.button-container>button {
  display: inline-block;
  height: 80%;
  margin: auto 0px;
  width: 200px;
  font-size: 1.5rem;
  border-radius: 4em;
  border: none;
  background-color: #664343;
  color: white;
  transform: scale(1);

  transition: background-color 0.2s;
  transition: transform 0.2s;
}

.button-container>button:hover {
  background-color: #795757;
  transform: scale(1.1);
}

.button-container>button:active {
  background-color: #3B3030;
  transform: scale(1.05);
}