.dot.animation-selected {
    animation-name: selected;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: relative;
}

.dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
    width: max(200px, 20vw);

    display: flex;
    justify-content: space-evenly;
}

.gradient {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;

    /* background: linear-gradient(#e66464a5, #9198e5c0); */
    background-color: rgba(0, 0, 0, 0.4);
}

.loading-label {
    top: 42%;
    font-size: 1.5em;

    animation-name: breath;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes breath {
    0% {
        opacity: 255;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 255;
    }
}

@keyframes selected {
    0% {
        top: 0px;
    }

    37.5% {
        top: -15px;
    }

    50% {
        top: -20px;
    }

    87.5% {
        top: -15px;
    }

    100% {
        top: 0px;
    }
}

.bar-title {
    color: var(--main-bg-color);
}